<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>
        {% block title%}
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Equip base</title>
        {% endif %}
        {% endblock %}
    </title>

</head>


<body>
{% block menu %}
    <div class="menu_block">
        <ul>
            <li>
                <a class="a_in_menu" href="{{ url_for('index') }}" data-text="Home">Home</a>
            </li>
            <li>
                <a class="a_in_menu" href="{{ url_for('edit_equip') }}" data-text="Edit equip">Edit equip</a>
            </li>
            <li>
                <a class="a_in_menu" href="{{ url_for('view_equip') }}" data-text="View equip">View equip</a>
            </li>
            <li>
                <a class="a_in_menu1" href="{{ url_for('login') }}" data-text="Login">Login</a>
            </li>
            <li>
                <a class="a_in_menu1" href="{{ url_for('reg') }}" data-text="Register">Register</a>
            </li>
        </ul>
    </div>
{% endblock menu %}

{% block page_title %}
{% endblock page_title%}

{% block body %}

{% endblock body %}


{% block footer %}
{% endblock footer %}

</body>

</html>