{% extends 'base_test.html' %}
{% block title%}
Страница входа
{% endblock %}


{% block page_title %}

{% endblock page_title%}

{% block body%}
    <div class="block2">
        <h2>Добавить оборудование</h2>

        <form method="post">
            <div>
                <label for="equipment">Введите название оборудования</label>
            </div>
            <div>
                <input type="text" class="form-control" name="equipment" id="equipment" placeholder="Поле для воода">
            </div>
            <div>
                <label for="equipment_number">Введите идн. оборудования</label>
            </div>
            <div>
                <input type="number" class="form-control"  name="equipment_number" id="equipment_number" placeholder="Поле для ввода">
            </div>
            <div>
                <label for="users">Выберите персонал</label>
                <select class="form-control" name="users" id="users">
                      {% for user in users %}
                    <option>{{user}}</option>
                      {% endfor %}

                </select>
            </div>
                <button type="submit" class="btn" >добавить</button>

        </form>
            <form action="view_equip">
                <button>Просмотр оборудования</button>
            </form>
        </div>
            <div>

            </div>
{% endblock %}