{% extends 'base_test.html' %}
{% block title%}
Страница входа
{% endblock %}


{% block page_title %}
Добавить оборудование
{% endblock page_title%}

{% block body%}
    <div class="conteiner">
        <form class="col-2" method="post">
            <div>
                <label for="equipment">Введите название оборудования</label>
            </div>
            <div>
                <input type="text" class="form-control" name="equipment" id="equipment" placeholder="Поле для воода">
            </div>
            <div>
                <label for="equipment_number">Введите идн. оборудования</label>
            </div>
            <div>
                <input type="number" class="form-control"  name="equipment_number" id="equipment_number" placeholder="Поле для воода">
            </div>
            <div>
                <label for="users">Выберите персонал</label>
                <select class="form-control" name="users" id="users">
                      {% for user in users %}
                    <option>{{user}}</option>
                      {% endfor %}

                </select>
            </div>
                <button type="submit" class="btn-2" >добавить</button>
        </form>
        </div>
            <div>
                <a href="http://127.0.0.1:5000/view_equip">Просмотр оборудования</a>
            </div>
{% endblock %}