{% extends 'base_test.html' %}
{% block title%}
Страница входа
{% endblock %}


{% block page_title %}
Страница входа
{% endblock page_title%}


{% block body%}
  <div class="reg_form">
    <form method="post">
      <input class="input" type="text" placeholder="Ваше имя">
      <input class="input" type="password" placeholder="Пароль">
      <button class="btn" type="submit">Войти</button>
    </form>
    <form action="/reg">
      <button class="btn" title="Register">Register</button>
    </form>

  </div>
{% endblock body%}

{% block footer %}
{% endblock footer %}