{% extends 'base_test.html' %}
{% block title%}
Страница регистрации
{% endblock %}
--------------------------------------------------------
{% block page_title %}
Страница регистрации
{% endblock %}
--------------------------------------------------------
{% block body%}
<form class="form" action="/reg" method="post">
  <input class="input" name='name' type="text" placeholder="Ваше имя">
  <input class="input" name='psw' type="password" placeholder="Пароль">
  <input class="input" name='psw2' type="password" placeholder="Пароль еще раз">
  <input class="input" name='email' type="email" placeholder="Введите email">
  <button class="btn" type="submit">Регистрация</button>
</form>
{% endblock %}