{% extends 'base_test.html' %}
{% block title%}
Список оборудования
{% endblock %}
--------------------------------------------------------
{% block page_title %}

{% endblock %}
--------------------------------------------------------
{% block body%}
<div class="block2">
<table>
  <thead>
  <b>Список оборудования</b>
    <th>id</th>
    <th>Оборудование</th>
    <th>Номер об-ня</th>
    <th>Обслуживает</th>
  </thead>
  <tbody>
{% for e in equip_list %}

    <tr>
        <td>{{e.id}}</td>
        <td>
            <form action="/about_equip/{{ e.id }}" title="Подробней"><button>{{e.equipment}}</button></form>
        </td>
        <td>{{e.equipment_number}}</td>
        <td>{{e.user_id}}</td>

    </tr>
{% endfor %}
  </tbody>

</table>
</div>

{% endblock %}