{% extends 'base_test.html' %}
{% block title%}
Список оборудования
{% endblock %}
--------------------------------------------------------
{% block page_title %}
Список оборудования
{% endblock %}
--------------------------------------------------------
{% block body%}
<table class="table table-bordered table-hover table-sm">
  <thead class="table table-dark">
    <th>id</th>
    <th>Оборудование</th>
    <th>Номер об-ня</th>
    <th>Обслуживает</th>
  </thead>
  <tbody>
{% for e in equip_list %}

    <tr class="table-light">
    <td>{{e.eq_id}}</td>
    <td><button class="btn btn-outline-dark">{{e.equipment}}</button></td>
    <td>{{e.equipment_number}}</td>
    <td>{{e.user_id}}</td>
        <td><a href="/about_equip/{{ e.id }}" class="btn btn-outline-dark">Подробней</a></td>
    </tr>
{% endfor %}
  </tbody>

</table>


{% endblock %}